In [5]:
import pandas as pd
from sqlalchemy import create_engine, text
ENGINE_URL = "mysql+pymysql://health_user:strong_password_here@localhost:3306/HEALTH?charset=utf8mb4"
engine = create_engine(ENGINE_URL)

In [6]:
core9_df = pd.read_csv("../data_csv/core9_state_based_decision_log.csv")

core9_df.head()

,asset_id,date,t_index,state_value,degradation_rate,HSI,HDR,recovery_margin,observability_score,intervention_flag_core9,stabilized
0,1503960366,2016-04-12,0,-0.002802,NaN,-0.002802,0.000000,NaN,0.63871,0,False
1,1503960366,2016-04-13,1,0.452790,NaN,0.452790,0.056949,NaN,0.63871,0,False
2,1503960366,2016-04-14,2,NaN,NaN,NaN,NaN,NaN,0.63871,0,False
3,1503960366,2016-04-15,3,NaN,NaN,NaN,NaN,NaN,0.63871,0,False
4,1503960366,2016-04-16,4,NaN,NaN,NaN,NaN,0.2,0.63871,0,False

Core 9-B decision log 테이블 생성

In [7]:
create_sql = """
CREATE TABLE IF NOT EXISTS core9_state_based_decision_log (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    asset_id VARCHAR(64) NOT NULL,
    date DATE NOT NULL,
    t_index INT NOT NULL,
    state_value FLOAT,
    degradation_rate FLOAT,
    HSI FLOAT,
    HDR FLOAT,
    recovery_margin FLOAT,
    observability_score FLOAT,
    intervention_flag_core9 TINYINT,
    stabilized BOOLEAN
) CHARACTER SET utf8mb4;
"""

In [8]:
with engine.begin() as conn:
    conn.execute(text(create_sql))

print("✅ core9_state_based_decision_log 테이블 준비 완료")

✅ core9_state_based_decision_log 테이블 준비 완료

MySQL에 적재

In [9]:
core9_df.to_sql(
    "core9_state_based_decision_log",
    con=engine,
    if_exists="append",
    index=False
)

print("✅ Core 9-B decision log MySQL 적재 완료")

✅ Core 9-B decision log MySQL 적재 완료

적재 확인

In [10]:
query = """
SELECT 
    asset_id, date, t_index,
    degradation_rate, HDR,
    recovery_margin, observability_score,
    intervention_flag_core9, stabilized
FROM core9_state_based_decision_log
ORDER BY id DESC
LIMIT 10;
"""

pd.read_sql(query, con=engine)

,asset_id,date,t_index,degradation_rate,HDR,recovery_margin,observability_score,intervention_flag_core9,stabilized
0,8877689391,2016-05-12,30,0.062087,0.034918,0.571429,0.993548,0,0
1,8877689391,2016-05-11,29,-0.048751,-0.012272,0.571429,0.993548,0,0
2,8877689391,2016-05-10,28,-0.055242,0.032330,0.571429,0.993548,0,0
3,8877689391,2016-05-09,27,-0.160597,-0.017618,0.571429,0.993548,0,0
4,8877689391,2016-05-08,26,-0.015414,-0.037194,0.642857,0.993548,0,0
5,8877689391,2016-05-07,25,0.077963,-0.063371,0.571429,0.993548,0,0
6,8877689391,2016-05-06,24,-0.071935,-0.002452,0.642857,0.993548,0,0
7,8877689391,2016-05-05,23,0.028790,0.009586,0.714286,0.993548,0,1
8,8877689391,2016-05-04,22,0.050381,0.016681,0.642857,0.993548,0,0
9,8877689391,2016-05-03,21,0.027088,0.088094,0.642857,0.993548,0,0