In [4]:
import pandas as pd

core9_df = pd.read_csv("../data_csv/core9_state_based_decision_log.csv")

core9_df.shape

(949, 11)

In [5]:
# asset_id 타입 통일
core9_df["asset_id"] = core9_df["asset_id"].astype(str)
existing_keys["asset_id"] = existing_keys["asset_id"].astype(str)

# date 타입도 혹시 모르니 통일
core9_df["date"] = pd.to_datetime(core9_df["date"])
existing_keys["date"] = pd.to_datetime(existing_keys["date"])

In [6]:
core9_df = core9_df.merge(
    existing_keys,
    on=["asset_id", "date", "t_index"],
    how="left",
    indicator=True
)

core9_df = (
    core9_df[core9_df["_merge"] == "left_only"]
    .drop(columns="_merge")
    .reset_index(drop=True)
)

core9_df.shape

(0, 11)

In [7]:
import pandas as pd
from sqlalchemy import create_engine

ENGINE_URL = "mysql+pymysql://health_user:strong_password_here@localhost:3306/HEALTH?charset=utf8mb4"
engine = create_engine(ENGINE_URL)

pd.read_sql(
    "SELECT COUNT(*) AS row_count FROM core9_state_based_decision_log;",
    con=engine
)

   row_count
0        949

In [8]:
pd.read_sql(
    """
    SELECT *
    FROM core9_state_based_decision_log
    ORDER BY date DESC, asset_id
    LIMIT 10;
    """,
    con=engine
)

,id,asset_id,date,t_index,state_value,degradation_rate,HSI,HDR,recovery_margin,observability_score,intervention_flag_core9,stabilized
0,31,1503960366,2016-05-12,30,NaN,NaN,NaN,NaN,0.000000,0.638710,0,0
1,62,1624580081,2016-05-12,30,0.058256,-0.071664,0.058256,-0.007710,0.500000,1.000000,0,0
2,123,1844505072,2016-05-12,30,NaN,NaN,NaN,NaN,0.000000,0.600000,0,0
3,154,1927972279,2016-05-12,30,NaN,NaN,NaN,NaN,0.000000,0.619355,0,0
4,185,2022484408,2016-05-12,30,-0.229102,-0.047188,-0.229102,-0.061403,0.571429,1.000000,0,0
5,216,2026352035,2016-05-12,30,0.438902,NaN,0.438902,0.060167,0.071429,0.729032,0,0
6,247,2320127002,2016-05-12,30,0.435731,0.120483,0.435731,0.029681,0.571429,0.987097,0,0
7,296,2873212765,2016-05-12,30,-0.192183,0.005235,-0.192183,-0.027214,0.500000,1.000000,0,0
8,377,4020332650,2016-05-12,30,NaN,NaN,NaN,NaN,0.000000,0.612903,0,0
9,412,4319703577,2016-05-12,30,1.552950,NaN,1.552950,0.092569,0.142857,0.741935,0,0

In [9]:
# DB에 있는 키들
db_keys = pd.read_sql(
    """
    SELECT asset_id, date, t_index
    FROM core9_state_based_decision_log
    """,
    con=engine
)

# 타입 통일
db_keys["asset_id"] = db_keys["asset_id"].astype(str)
db_keys["date"] = pd.to_datetime(db_keys["date"])

core9_df_debug = core9_df.copy()
core9_df_debug["asset_id"] = core9_df_debug["asset_id"].astype(str)
core9_df_debug["date"] = pd.to_datetime(core9_df_debug["date"])

# 겹치는 비율 확인
merged = core9_df_debug.merge(
    db_keys,
    on=["asset_id", "date", "t_index"],
    how="inner"
)

print("core9_df rows:", len(core9_df_debug))
print("matched rows in DB:", len(merged))

core9_df rows: 0
matched rows in DB: 0

In [13]:
pd.read_sql(
    """
    SELECT asset_id, date, t_index, intervention_flag_core9
    FROM core9_state_based_decision_log
    ORDER BY id DESC
    LIMIT 20;
    """,
    con=engine
)

      asset_id        date  t_index  intervention_flag_core9
0   8877689391  2016-05-12       30                        0
1   8877689391  2016-05-11       29                        0
2   8877689391  2016-05-10       28                        0
3   8877689391  2016-05-09       27                        0
4   8877689391  2016-05-08       26                        0
5   8877689391  2016-05-07       25                        0
6   8877689391  2016-05-06       24                        0
7   8877689391  2016-05-05       23                        0
8   8877689391  2016-05-04       22                        0
9   8877689391  2016-05-03       21                        0
10  8877689391  2016-05-02       20                        0
11  8877689391  2016-05-01       19                        0
12  8877689391  2016-04-30       18                        0
13  8877689391  2016-04-29       17                        0
14  8877689391  2016-04-28       16                        0
15  8877689391  2016-04-27       15                        0
16  8877689391  2016-04-26       14                        0
17  8877689391  2016-04-25       13                        0
18  8877689391  2016-04-24       12                        0
19  8877689391  2016-04-23       11                        0

In [14]:
pd.read_sql(
    """
    SELECT COUNT(*) AS overlap_cnt
    FROM core9_state_based_decision_log
    WHERE (asset_id, date, t_index) IN (
        SELECT asset_id, date, t_index
        FROM core9_state_based_decision_log
    );
    """,
    con=engine
)

   overlap_cnt
0          949

In [15]:
new_rows = core9_df.merge(
    pd.read_sql(
        "SELECT asset_id, date, t_index FROM core9_state_based_decision_log",
        con=engine
    ),
    on=["asset_id", "date", "t_index"],
    how="left",
    indicator=True
)

new_rows["_merge"].value_counts()

_merge
left_only     0
right_only    0
both          0
Name: count, dtype: int64

In [19]:
pd.read_sql(
    """
    SELECT source, intervention_rate
    FROM (
        SELECT
            'Core5' AS source,
            AVG(intervention_flag) AS intervention_rate
        FROM core5_decision_log
    ) c5

    UNION ALL

    SELECT source, intervention_rate
    FROM (
        SELECT
            'Core9' AS source,
            AVG(intervention_flag_core9) AS intervention_rate
        FROM core9_state_based_decision_log
    ) c9;
    """,
    con=engine
)

  source  intervention_rate
0  Core5             0.0933
1  Core9             0.0295