# Core 9-B — State-based Re-decision Log

이 노트북은 Core 5에서 생성된 예측 기반 판단 로그를 그대로 유지한 채,
μHSM 상태 관측 결과를 판단 입력으로 사용하여
“판단 로그가 어떻게 달라지는지”를 재현하는 것을 목표로 한다.

- 예측값: 동일
- 규칙 수: 동일
- 임계값: 동일
- 달라지는 것: 판단 입력 (Prediction → State)

출력 결과는 Core 5와 1:1 비교 가능한 decision log로 저장된다.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

ENGINE_URL = "mysql+pymysql://health_user:strong_password_here@localhost:3306/HEALTH?charset=utf8mb4"
engine = create_engine(ENGINE_URL)

core5_df = pd.read_csv("../data_csv/core5_decision_log.csv")

core5_df.head()

,asset_id,date,t_index,state_value,degradation_rate,risk_group,intervention_flag,stabilized
0,1503960366,2016-04-12,0,-0.002802,NaN,mid,0,False
1,1503960366,2016-04-13,1,0.452790,NaN,mid,0,False
2,1503960366,2016-04-14,2,NaN,NaN,mid,0,False
3,1503960366,2016-04-15,3,NaN,NaN,mid,0,False
4,1503960366,2016-04-16,4,NaN,NaN,mid,0,False

In [2]:
mu_df = pd.read_csv("../data_csv/muHSM_state_monitor.csv")

mu_df.head()

,user_id,date,HSI,HDR,recovery_margin,observability_score
0,1503960366,2016-04-12,-0.002802,0.000000,NaN,0.63871
1,1503960366,2016-04-13,0.452790,0.056949,NaN,0.63871
2,1503960366,2016-04-14,NaN,NaN,NaN,0.63871
3,1503960366,2016-04-15,NaN,NaN,NaN,0.63871
4,1503960366,2016-04-16,NaN,NaN,0.2,0.63871

In [3]:
mu_df = mu_df.rename(columns={"user_id": "asset_id"})

core9_df = core5_df.merge(
    mu_df,
    on=["asset_id", "date"],
    how="left"
)

core9_df.head()

,asset_id,date,t_index,state_value,degradation_rate,risk_group,intervention_flag,stabilized,HSI,HDR,recovery_margin,observability_score
0,1503960366,2016-04-12,0,-0.002802,NaN,mid,0,False,-0.002802,0.000000,NaN,0.63871
1,1503960366,2016-04-13,1,0.452790,NaN,mid,0,False,0.452790,0.056949,NaN,0.63871
2,1503960366,2016-04-14,2,NaN,NaN,mid,0,False,NaN,NaN,NaN,0.63871
3,1503960366,2016-04-15,3,NaN,NaN,mid,0,False,NaN,NaN,NaN,0.63871
4,1503960366,2016-04-16,4,NaN,NaN,mid,0,False,NaN,NaN,0.2,0.63871

In [4]:
def intervention_rule_core9(row):
    if (
        row["HDR"] < -0.05 and
        row["recovery_margin"] < 0.3 and
        row["observability_score"] > 0.5
    ):
        return 1
    return 0

In [5]:
core9_df["intervention_flag_core9"] = core9_df.apply(
    intervention_rule_core9,
    axis=1
)

core9_df[
    ["intervention_flag", "intervention_flag_core9"]
].head(10)

   intervention_flag  intervention_flag_core9
0                  0                        0
1                  0                        0
2                  0                        0
3                  0                        0
4                  0                        0
5                  0                        0
6                  0                        0
7                  0                        0
8                  0                        0
9                  0                        0

In [6]:
def compute_stabilization(df, window=7):
    df = df.copy()
    df["post_state"] = (
        df.groupby("asset_id")["state_value"]
        .shift(-window)
    )
    df["stabilized"] = (df["post_state"] - df["state_value"]) > 0
    return df

In [7]:
core9_log = core9_df[
    [
        "asset_id",
        "date",
        "t_index",
        "state_value",
        "degradation_rate",
        "HSI",
        "HDR",
        "recovery_margin",
        "observability_score",
        "intervention_flag_core9",
        "stabilized"
    ]
].copy()

In [8]:
core9_log.to_csv(
    "../data_csv/core9_state_based_decision_log.csv",
    index=False
)

print("✅ core9_state_based_decision_log.csv 저장 완료")

✅ core9_state_based_decision_log.csv 저장 완료

In [9]:
core9_log.to_sql(
    "core9_state_based_decision_log",
    con=engine,
    if_exists="append",
    index=False
)

print("✅ Core 9-B decision log MySQL 적재 완료")

✅ Core 9-B decision log MySQL 적재 완료

In [10]:
pd.read_sql(
    """
    SELECT 'Core5' AS source,
           AVG(intervention_flag) AS intervention_rate
    FROM core5_decision_log

    UNION ALL

    SELECT 'Core9' AS source,
           AVG(intervention_flag_core9) AS intervention_rate
    FROM core9_state_based_decision_log;
    """,
    con=engine
)

  source  intervention_rate
0  Core5             0.0933
1  Core9             0.0295

## Core 9-B 결과 요약

- 예측값과 규칙 수는 동일함에도
- μHSM 상태 관측을 입력으로 사용한 경우
  - 개입 빈도는 약 1/3 수준으로 감소
  - 판단이 훨씬 보수적이고 안정적으로 변함

이는 성능 개선이 아니라,
의사결정 입력 구조가 바뀌었을 때 발생하는
판단 로그의 구조적 변화임을 의미한다.